.btn-new {
    margin-left: 15px;
    margin-top: 15px;
}

a {
    color: #ffffff;
}

img {
    cursor: pointer;
}

.alert-box {
    margin: 15px;
}

.student-table {
    font-size: 13px;
    color: #212529;
 }
 
 th {
    font-weight: 500;
 }
 
 td {
    color: #212529;
 }
