img {
    width: 30px;
    height: 30px;
}

.navbar-content {
    display: contents;
    width: 100%;
}

.navbar {
    justify-content: start;
}

.sticky-nav-bar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu-items {
    display: flex;
}

a {
    margin-left: 20px;
}

.app-name {
    color: #0000b3;
    letter-spacing: .75px;
    font-weight: 500;
}

.links {
    color: #0000b3;
    letter-spacing: .50px;
    font-weight: 500;
}