.books-table {
	margin: 20px;
	width: auto;
	font-size: 14px;
}

.subject-header {
	margin: 20px;
}

.header-section {
	display: inline-flex;
}

.assign-btn {
	height: fit-content;
	width: 100px;
	margin-top: 13px;
	margin-left: 40px;
}
